:root {
  --primary-color: #1677ff;
  /* Azul Ant Design */
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
  /* color base de fondo */
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #0958d9;
}

.ant-layout {
  background: #f0f2f5 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: inherit;
}